.navi {
    width: 100%;
    min-height: 60px;
    display: block;
    margin-bottom: 20px;
    background: #4a4d50;
    position: relative;
}

.navi ul li > a {
    display: block;
    padding: 0 16px;
    white-space: nowrap;
    color: white;
    text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b;
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    font-size: 1rem;
}

.navi ul li {
    text-align: center;
    padding-bottom: 0;
    margin: 0;
    height: 60px;
    line-height: 58px;
}

.divider {
    background: #36393b;
    margin: 10px 0;
    height: 1px;
    position: relative;
}